@charset "utf-8";
/* CSS Document */

		* {margin: 0px; padding: 0px;}
		.container {width:500px; margin: 10px auto;}
		.container .otp fieldset {width:100%; text-align: center;}
		.container .otp fieldset legend{padding:10px; margin-bottom:10px;font-size: 30px; color: red}
		.container .otp fieldset input{margin-left: 20px;}
		.container .inp {margin-top: 20px}
		.container .btn {margin-top: 20px; text-align: center}
		.container .btn button {font-size: 20px; padding: 1px 10px}