@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
h1{
	text-align: center;
	margin-bottom: 40px;
	font-weight: 600;
}
.profile{
	text-align: center;
	margin-bottom: 40px;
}
.profile li{
	display: inline;
	margin-right: 20px;
}
.active a{
	text-decoration: none
}
.image{
	padding: 5px;
	margin-bottom: 40px;
}
.image li{
	float: left;
	margin-right: 10px;
	margin-bottom: 22px;
	width: 250px;
}
.container{
	margin: 30px auto;
	width: 1100px;
}
