@charset "utf-8";
/* CSS Document */

*{
	margin: 0;
	padding: 0;
}
body{
	color: goldenrod;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
	font-size: 16px;
	line-height: 1.5;
}
.container{
	background: url("image/milky-way-2695569__340.jpg") no-repeat left top;
	background-size: cover;
	margin: 30px auto;
	padding: 18px 0;
	width: 1180px;
}
.container ul{
	text-align: center;
}
.container ul li{
	color:coral;
	display: inline-block;
	width: 250px;
	text-align: center;
}
.container ul li p{
	width: 100px;
}
.comtainer ul li .icon{
	margin-bottom: 20px;
}
.container ul li .number{
	font-size: 40px;
	margin-bottom: 10px;
}